<div ng-hide="posts.length">
  <h1>Nothing Here Yet</h1>
</div>

<div ng-repeat="post in posts | order" class="post" ng-style="border-right: 5px solid #{{ post.colour }}">
  <div class="details">
    <b ng-bind="post.author"></b> @ {{ post.date | date: "medium" }}
  </div>

  <div class="title" ng-hide="post.thread">
    <h3><a ng-href="#/thread/{{ post.id }}" ng-bind="post.title"></a> <small ng-hide="inThread">[{{ post.count }}]</small></h3>
  </div>

  <div class="text" ng-bind="post.text"></div>
  <img ng-show="post.image" ng-src="{{ post.image && 'upload/' + post.image }}">
</div>

<form id="post" ng-submit="addThread()">
  <input type="file" tabindex="1" onchange="angular.element(this).scope().addFile(this.files[0])" accept="image/png,image/jpg,image/jpeg,image/gif">
  <input type="hidden" ng-model="post.file" ng-init="post.file=''">
  <input type="text" tabindex="2" placeholder="Title" ng-model="post.title" ng-hide="inThread" ng-required="!inThread">
  <textarea tabindex="3" placeholder="Text" rows="5" ng-model="post.text" required></textarea>
  <input type="password" tabindex="5" placeholder="Secret" ng-model="post.secret" id="secret" ng-required="post.author">
  <input type="text" tabindex="4" placeholder="Author (optional)" ng-model="post.author" id="author">
  <input type="submit" tabindex="6" value="Post!">
</form>

<h3 ng-show="inThread" style="margin-left:1em"><a ng-href="#/thread/0">&laquo;&nbsp;Back</a></h3>